{% extends 'main/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Сервис рассылок</h1>
</div>

<div class="container">

    <div class="row text-center">

        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a class="p-2 btn btn-outline-primary" href="/mailing/clients/">Клиенты</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a class="p-2 btn btn-outline-primary" href="/mailing/text/">Тексты рассылок</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a class="p-2 btn btn-outline-primary" href="/mailing/settings/">Настройка рассылок</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a class="p-2 btn btn-outline-primary" href="#">Статистика</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




