{% extends 'main/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Результаты рассылок</h1>
</div>

<div class="container">

    <div class="row text-center">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Рассылка</th>
                <th scope="col">Дата и Время</th>
                <th scope="col">Статус</th>
                <th scope="col">Ответ сервера</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.mailing.mailing_text.topic }}</td>
                <td>{{ object.sent_datetime }}</td>
                <td>{{ object.status }}</td>
                <td>{{ object.server_reply }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock %}
